<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather Today</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />

</head>

<body>
    <!-- Main container -->
    <div class="md:flex">
        <div class="md:w-2/4 lg:w-3/5">
            <div class="flex text-white mt-2 md:ml-4 md:mt-8 lg:font-medium lg:text-xl lg:mx-24 lg:my-16 lg:h-96"><img
                    src="/assets/logo.png" class="h-5 mx-2 mt-1 md:mx-2" alt="">Weather Today</div>
            <form action="/" method="post" class="flex sm:hidden my-4">
                <input name="city" type="text"
                    class="bg-transparent text-white h-10 w-full px-2 text-xl focus:border-b-2 backdrop-blur-sm backdrop-brightness-75 shadow-2xl"
                    placeholder="Enter a City" required>

                <button type="submit" class="bg-orange-500 h-10 w-12 " value="Get Weather"><svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                        class="bi bi-search m-auto" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
            <%if( weather !==null){ %>
                <div class="flex mx-2 my-5 md:ml-6 md:mt-72 lg:mx-24 lg:my-auto">
                    <div class="text-white font-medium text-4xl my-auto lg:font-medium lg:text-8xl">
                        <%= temp %>°C
                    </div>
                    <div class="text-white text-2xl mx-2 my-auto lg:font-medium lg:text-5xl lg:my-auto lg:mx-2">
                        <p class="">
                            <%= place %>
                        </p>
                    </div>
                    <div class="flex flex-col lg:mx-4 lg:my-auto">
                        <img src="<%= icon %>" alt="" class="h-8 brightness-200 lg:h-12 lg:w-12">

                        <p id="weather" class="text-white text-xs text-center lg:text-center lg:text-xl">
                            <%= main %>
                        </p>
                    </div>
                </div>
                <% } %>
        </div>
        <div
            class="md:w-2/4 md:m-4 md:shadow-xl md:rounded-lg md:backdrop-blur-md  md:h-screen md:overflow-auto lg:w-2/5 lg:h-screen lg:rounded-none lg:m-0">
            <form action="/" method="post" class="hidden sm:flex md:flex">
                <input name="city" type="text"
                    class="bg-transparent text-white h-10 w-full px-2 text-xl focus:border-b-2  lg:bg-transparent lg:text-white lg:font-medium lg:h-20 lg:w-full lg:px-10 lg:pt-9 lg:text-2xl"
                    placeholder="Enter a City" required>
                <!-- <input type="submit" class="bg-orange-500 h-20 w-24 px-2 text-center text-white" value="Search"> -->
                <button type="submit" class="bg-orange-500 hover:bg-orange-600 h-10 w-12 lg:h-20 lg:w-24 "
                    value="Get Weather"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                        class="bi bi-search m-auto" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
            <%if( weather !==null){ %>
                <div
                    class="my-5 backdrop-blur-md rounded-md m-4 shadow-2xl px-2 py-4 lg:my-5 sm:backdrop-blur-none sm:p-0 sm:shadow-none ">

                    <div class="ml-4 lg:mx-16 lg:my-2">
                        <p class="text-white font-medium lg:font-medium lg:text-xl">
                            Temperature :
                        </p>
                        <p class="text-white text-xs lg:font-base lg:text-lg">
                            <%= temp %>°C / <%= fahrenheit %>°F
                        </p>
                    </div>
                    <hr class="mx-2 my-2 lg:mx-16">
                    <div class="ml-4 lg:mx-16 lg:my-2">
                        <p class="text-white font-medium lg:font-medium lg:text-xl">
                            Main :
                        </p>
                        <p class="text-white text-xs lg:font-base lg:text-lg">
                            <%= main %>
                        </p>
                    </div>
                    <hr class="mx-2 my-2 lg:mx-16">
                    <div class="ml-4 lg:mx-16 lg:my-2">
                        <p class="text-white font-medium lg:font-medium lg:text-xl">
                            Overall Description :
                        </p>
                        <p class="text-white text-xs lg:font-base lg:text-lg">
                            <%= description %>
                        </p>
                    </div>
                    <hr class="mx-2 my-2 lg:mx-16">
                    <div class="ml-4 lg:mx-16 lg:my-2">
                        <p class="text-white font-medium lg:font-medium lg:text-xl">
                            Cloud coverage :
                        </p>
                        <p class="text-white text-xs lg:font-base lg:text-lg">
                            <%= clouds %>
                        </p>
                    </div>
                    <hr class="mx-2 my-2 lg:mx-16">
                    <div class="ml-4 lg:mx-16 lg:my-2">
                        <p class="text-white font-medium lg:font-medium lg:text-xl">
                            Visibility :
                        </p>
                        <p class="text-white text-xs lg:font-base lg:text-lg">
                            <%= visibility %> meters
                        </p>
                    </div>
                    <hr class="mx-2 my-2 lg:mx-16">
                    <div class="ml-4 lg:mx-16 lg:my-2">
                        <p class="text-white font-medium lg:font-medium lg:text-xl">
                            Humidity :
                        </p>
                        <p class="text-white text-xs lg:font-base lg:text-lg">
                            <%= humidity %> g.m-3
                        </p>
                    </div>
                    <hr class="mx-2 my-2 lg:mx-16">
                    <div class="ml-4 lg:mx-16 lg:my-2">
                        <p class="text-white font-medium lg:font-medium lg:text-xl">
                            Pressure :
                        </p>
                        <p class="text-white text-xs lg:font-base lg:text-lg">
                            <%= pressure %> N·m−2
                        </p>
                    </div>
                    <hr class="mx-2 my-2 lg:mx-16">
                    <div class="ml-4 lg:mx-16 lg:my-2">
                        <p class="text-white font-medium lg:font-medium lg:text-xl">
                            Longitude / Latitude :
                        </p>
                        <p class="text-white text-xs lg:font-base lg:text-lg">
                            <%= lon %> / <%= lat %>
                        </p>
                    </div>


                </div>
                <% } %>
                    <% if(error !==null){ %>
                        <p class="text-xs font-base text-white text-center my-5">
                            <%= error %>
                        </p>
                        <% } %>
                            <p class="text-xs font-thin text-white text-center my-5 opacity-50 ">Copyright © 2022 |
                                rohit-64bit
                            </p>
        </div>
    </div>

    <script>
        // changing the background image with the type of weather
        let weatherDescription = document.getElementById("weather");
        let weather = weatherDescription.innerText;
        console.log(weather);

        switch (weather) {
            case "Haze":
                document.body.style.backgroundImage = "url('https://images.unsplash.com/photo-1619592377715-3f05fca9d9cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')";
                break;
            case "Foogy":
                document.body.style.backgroundImage = "url('https://images.unsplash.com/photo-1533757704860-384affeed946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')"
                break;
            case "Clouds":
                document.body.style.backgroundImage = "url('https://images.unsplash.com/photo-1526925210199-6db37fd596af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')"
                break;
            case "Clear":
                document.body.style.backgroundImage = "url('https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')"
                break;
            case "Foogy":
                document.body.style.backgroundImage = "url('https://images.unsplash.com/photo-1533757704860-384affeed946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')"
                break;
            case "Snow":
                document.body.style.backgroundImage = "url('/assets/snowbg.jpg')"
                break;
            case "Rain":
                document.body.style.backgroundImage = "url('/assets/rain.jpg')"
                break;
            case "Thunderstorm":
                document.body.style.backgroundImage = "url('/assets/thunder.jpg')"
                break;
            case "Drizzle":
                document.body.style.backgroundImage = "url('/assets/drizzle.jpg')"
                break;
            case "Mist":
                document.body.style.backgroundImage = "url('/assets/mist.jpg')"
                break;
            case "Thunderstorm":
                document.body.style.backgroundImage = "url('/assets/thunder.jpg')"
                break;
            default:

                break;
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>